center {
    max-width: 100%;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
    color: #444;
}

header {
    background-color: #4169e1;
    color: white;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 1px 5px #555555;
    position: relative;
}

h1 {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 32;
}

center>div {
    padding: 20px 10px 10px 10px;
    box-shadow: 1px 1px 5px #555555;
}


/**************** slide bar ****************/
input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    margin: 0;
}

input[type=range]:focus {
    outline: none;
}

/* slide bar's horizontal axis */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 5px #555555;
    background: #cccccc;
    border-radius: 1.3px;
    border: 1px solid #010101;
}

/* slide bar's thumb */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 1px 1px 5px #555555;
    border: 1px solid #000000;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: #4169e1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}




